@model Rajya_Sanik_Board.Models.Generalform
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_login.cshtml";
}

 <div id="login" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 w3-container w3-border city">
        <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12 mobile-pull cus-login-box">
              <article role="login">
                <h3 class="text-center"><i class="fa fa-lock" style="margin-right: 5px;"></i>Change Password</h3>
                <form class="signup">
                   <div class="form-group ">
                       @Html.TextBoxFor(model => model.userid, new { @class = "cus-input-fields userid entr",placeholder="User ID" })
                   @* <input type="email" class="cus-input-fields emailid" placeholder="Email Address" required>*@
                  </div>
                  <div class="form-group">
                      @Html.TextBoxFor(model => model.oldpswd, new { @class = "cus-input-fields pwd entr",placeholder="Old Password" ,type="password",onblur="pass(this.value);"})
                       @Html.Hidden("pswdhidden")
                    @*<input type="password" class="cus-input-fields pwd" placeholder="Password" required>*@
                  </div>
                   <div class="form-group">
                      @Html.TextBoxFor(model => model.newpswd, new { @class = "cus-input-fields pwd entr",placeholder="New Password" ,type="password",onblur="pass1(this.value);"})
                       @Html.Hidden("pswdnewhidden")
                    @*<input type="password" class="cus-input-fields pwd" placeholder="Password" required>*@
                  </div>
                    <div class="form-group">
                      @Html.TextBoxFor(model => model.reenternewpswd, new { @class = "cus-input-fields pwd entr",placeholder="Confirm Password" ,type="password",onblur="pass2(this.value);"})
                       @Html.Hidden("pswdrenewhidden")
                    @*<input type="password" class="cus-input-fields pwd" placeholder="Password" required>*@
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left form-group" style="padding-left: 0;">
                    <input type="button" id="sbmt1" class="btn btn-success btn-block"  value="OK">
                  </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right form-group" style="padding-right: 0;">
                    <input type="button" id="sbmt" class="btn btn-success btn-block"  value="Cancel">
                  </div>
                    <div id="msg" style="text-align:center;" class="red"></div>
                </form>

              </article>
            </div>
  </div>
<script src="~/Scripts/md5_min.js"></script>
<script type='text/javascript'>

    function pass(pd) {
      

        if (pd.length > 0) {
          
            
            var pwd = hex_md5(pd);
          
            $("#oldpswd").val(pwd);


        }
    }
    function pass1(pd) {


        if (pd.length > 0) {
            $("#pswdnewhidden").val(pd);
            var pwd = hex_md5(pd);
            //alert(pwd);pswdnewhidden
            $("#newpswd").val(pwd);


        }
    }
    function pass2(pd) {


        if (pd.length > 0) {
            $("#pswdrenewhidden").val(pd);
            var pwd = hex_md5(pd);
            //alert(pwd);
            $("#reenternewpswd").val(pwd);


        }
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        function enterpress() {
            $.ajax(
                {

                    dataType: "json",
                    type: "POST", //HTTP POST Method  
                    url: '@Url.Action("changePassword1", "Home")', // Controller/View   
                    data: { //Passing data  
                        userid: $("#userid").val(),
                        oldpswd: $("#oldpswd").val(), //$("#pswd").val()
                        newpswd: $("#newpswd").val(),
                        reenternewpswd: $("#reenternewpswd").val(),
                        hidennewpwd: $("#pswdnewhidden").val(),
                        hidenre:$("#pswdrenewhidden").val()
                    },
                    success: function (response) {
                        if (response.output2 == "old") {
                            $("#msg").html("*old password not match!!!");
                        }
                       else if (response.output3 == "new") {
                            $("#msg").html("*new  password  and Reenter Password not match!!!");
                        }
                        else if (response.output == "notmatch") {
                            $("#msg").html("*User id not match!!!");
                        }
                        else if (response.output1 == "match") {
                            $("#msg").hide();
                            $("#pswdnewhidden").val("");
                            $("#pswdrenewhidden").val("");
                            toastr.info("Change Password  Successfully");
                            window.location.href = '@Url.Content("~/Home/Login")';
                           

                        }

                        else {

                            $("#msg").html("*userid or password doesnot correct!!!");


                        }

                    },



                });




        }
        $('.entr').keypress(function (e) {

            if (e.keyCode == 13) {

                enterpress();
            }
        });

        $("#sbmt1").click(function () {
            enterpress();
        });
        $("#sbmt").click(function () {
            $("#userid").val("");
            $("#oldpswd").val("");
            $("#newpswd").val("");
            $("#reenternewpswd").val("");
            $("#pswdnewhidden").val("");
            $("#pswdrenewhidden").val("");
            window.location.href = '@Url.Content("~/Home/Login")';
        });
    });
</script>
