@model Rajya_Sanik_Board.Models.Generalform

@{
    ViewBag.Title = "Pension";
    Layout = "~/Views/Shared/_RajyaSanikBoard.cshtml";
}


 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 center-div">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-content-div">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pension Form</h3>
                </div>

                @using (Html.BeginForm("Pension", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    if (ViewBag.Message != null)
                    {<label>@ViewBag.Message</label> }
                    <div class="panel-body rsb-form">

                        <div class="col-md-12 user-img">
                            
                        </div>
                       
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                               <label>Pension Type: </label>
                                @Html.TextBoxFor(m => m.Pensionstatus_Type, new {  placeholder = "Pension Type" })
                                <small class="fg-red" style="color: red;">@Html.ValidationMessageFor(m =>m.Pensionstatus_Type)</small>

                            </div>
                        </div>
                        
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                               <label>Description: </label>
                                @Html.TextBoxFor(m => m.Description, new {  placeholder = "Description" })
                                <small class="fg-red" style="color: red;">@Html.ValidationMessageFor(m =>m.Description)</small>

                            </div>
                        </div>
                        

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <input type="submit" value="ADD" class="btn btn-primary next-step">
                        </div>
                        
                 
                    </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cus-grid-tables">
                
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" style="padding:15px 0;">
                        <table class="table-bordered table-striped table-condensed cf" id="t01">
                            <thead>
                                  @{var counter = 0;}
                                <th>S.No </th>
                                <th>Pension Type</th>
                                <th>Description</th>
                               <th>Edit</th>
                                
                            </thead>
                            @foreach (var item in ViewBag.pension)
                            {
                                counter = counter + 1;
                                <tr>
                                    <td>@counter </td>
                                    <td>@item.Pensionstatus_Type</td>
                                    <td>@item.Description       </td>
                               
                                   <td> @Html.ActionLink("Edit", "Editpen", new { id=item.Pensionstatus_ID })</td> </tr>
                                
                            }
                           
                        </table>
                    </div>
                </div>
                    <style>  
table#t01 {  
width: 100%;  
background-color: #f1f1c1;  
}  
  
table#t01 tr:nth-child(even) {  
background-color: #eee;  
}  
table#t01 tr:nth-child(odd) {  
background-color: #fff;  
}  
table#t01 th {  
color: #333;  
}  
table, th, td {  
border: 1px solid black;  
}  
table, th, td {  
border: 1px solid black;  
border-collapse: collapse;  
}  
table, th, td {  
border: 1px solid black;  
border-collapse: collapse;  
}  
th, td {  
padding: 15px;  
}  
</style> 
            
                }
            </div>
    </div>
        </div>
<script type="text/javascript">
    $("#btnlogout").click(function (event) {
        
        $("#btnlogout").hide();
        event.preventDefault();
        var url = '@Url.Action("Logout", "Home")';
        window.location.href = url;

     });
</script>

